<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} salix.chat {% endblock %}</title>
    <style>
        body {
            background-color: {{ crate::pages::palette::BACKGROUND1 }};
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            color: {{ crate::pages::palette::TEXT1 }};
            flex-direction: column;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %} <div style="font-size: 12rem; color: {{ crate::pages::palette::ACCENT }};">salix.chat</div> {% endblock %}
</body>
</html>
